@import "../foundation/variables";

.container {
    width: 100vw;
    height: 100vh;
    // background-color: red;
    display: flex;
    flex-wrap: nowrap;
    color: $black;

    .sideBar {
        width: 300px;
        height: 100%;
        // background-color: yellow;
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        border-right: 1px solid $black;
    }

    .channelView {
        width: 0;
        height: 100%;
        flex: 1;
    }

}