@import "../../foundation/variables";

.container {
    width: 100%;
    height: 60px;
    // background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $black;

    // タイトルとロゴ
    h1 {
        height: 20px;
        padding-left: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;

        .logo {
            width: 20px;
            height: 100%;
            margin-right: 5px;
            border-radius: 10px;
            border: 1px solid $black;
            background-color: $orange;
            animation: logoAnim;
            animation-duration: 15s;
            animation-iteration-count: infinite;
        }

        .title {
            color: $black;
        }

    }

    .help {
        width: 20px;
        height: 20px;
        margin-right: 15px;
        position: relative;
        border-radius: 10px;
        border: 1px solid $black;

        &::before {
            content: "?";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
    }
}

@keyframes logoAnim {
    0% {
        background-color: $red;
    }
    33% {
        background-color: $orange;
    }
    66% {
        background-color: #fff;
    }
    100% {
        background-color: $red;
    }
}