@import "../../foundation/variables";

$header-height: 60px;

.container {
    width: 100%;
    height: 100%;
    // background-color: purple;
    overflow-y: hidden;
    position: relative;

    .header {
        width: 100%;
        height: $header-height;
        background-color: #fff;
    }

    .contents {
        width: 100%;
        height: calc(100% - #{$header-height});
        // flex: 1;
        position: relative;
        overflow-y: scroll;
        background-color: $gray;

        .date {
            width: 100%;
            display: inline-block;
            padding-left: 15px;
            background-color: #fff;
            border-top: 1px solid black;
            // border-bottom: 1px solid black;
        }

    }
}